debug*
__pycache__/*
.DS_Store/*
.idea
.ipynb_checkpoints/*
.snakemake/*
.snakemake/auxiliary/
.snakemake/conda/
.snakemake/conda-archive/
.snakemake/incomplete/
.snakemake/locks/
.snakemake/log/
.snakemake/metadata/
.snakemake/shadow/
.snakemake/singularity/
notebooks/.ipynb_checkpoints/*