debug*
__pycache__/
.DS_Store/

# Pycharm
.idea

# ignore snakemake hidden directory
.snakemake/

# Jupyter NB Checkpoints
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

/test_run.log
/test_shell.log
/config.json
